In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2023-10-05.csv")

In [11]:
df1 = df.dropna(how='all')

In [12]:
df1.to_csv("newdata.csv", index=False)

In [13]:
df1

                                                 company
0      Turkish American Cultural Association of Flori...
1                         Strong Bonds, Arlington, 22204
2      Environmental Bankers Association, Marietta, 3...
3                BRC Magic Services LLC, Longmont, 80503
4               Great Minds Institute, Washington, 20003
...                                                  ...
36974               BrainStorm Group, Westborough, 01581
36975  BraveHeart Women Global Community, Woodstock, ...
36976                     Bright Funds, Woodstock, 30189
36977  The Center for American and International Law,...
36978    L & L Exhibition Management, Minneapolis, 55431

[29583 rows x 1 columns]